﻿
    <div class="col-md-4 text-center mt-3 mb-3">
        <h3>
            @Model.Post.Titulo
        </h3>
    </div>

<li>Autor</li>
<p> </p>
<h4> @Model.Post.Autor</h4>
<p> @Model.Post.Contenido</p>
<p>Fecha @Model.Post.Fecha</p>


<div class="table">

    <table class="col-12 mr-auto">
        <tr>
            <th>Comentarios</th>
            <th>Fecha</th>

        </tr>
        @foreach (var item in Model.Comentarios)
        {
    <tr>
        <td>@item.Detalle</td>
        <td>@item.Fech</td>
    </tr>
            
        }
     </table>
</div>

<h4>Agregar comentario</h4>

        <form method="post" action="/home/addcomentario?PostId=@Model.Post.Id">

            <textarea rows="10" cols="100" name="Detalle">
    </textarea>

            <button>Enviar</button>
        </form>
