﻿
@{
    ViewData["Title"] = "nuevoBlog";
}

<h3>Nuevo Blog</h3>

<form method="post" action="/home/nuevoBlog">


    <input type="text" name="Titulo" placeholder="Titulo" />
    <input type="text" name="Autor" placeholder="Autor" />
  
    <textarea rows="10" cols="100" name="Contenido">
    </textarea>

    <button>Publicar</button>
</form>
